<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>I am just a student trying to complete an assignment.</p>
    <br>
    <a href="/">Home</a> | <a href="/contact">Contact</a>
  </body>
</html>

