<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>Feel free to reach out by email at: <a href="mailto:x22115234@student.ncirl.ie">x22115234@student.ncirl.ie</a>.</p>
  <br>
  <a href="/">Home</a> | <a href="/about">About</a>
</body>
</html>
