<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/style.css">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul id="list">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
    <button onclick="addItem()">Add more items</button>
    <br><br/>
    <br>
    <a href="/about">About</a> | <a href="/contact">Contact</a>

    <!-- this function takes user input and adds it to the list of items displayed in the homepage (changes are not really committed to any database and will be lost once the page is refreshed)-->
    <script>
      function addItem() {
        var item = prompt("Enter item:");
        if (item != null && item != "") {
          var list = document.getElementById("list");
          var newListItem = document.createElement("li");
          var text = document.createTextNode(item);
          newListItem.appendChild(text);
          list.appendChild(newListItem);
        }
      }
    </script>
  </body>
</html>
