<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <br>
      <li>add more...</li>
    </ul>
    <br/>
    <a href="/about">About</a> | <a href="/contact">Contact</a>
  </body>
</html>
