body {
  background-color: #f1ebeb;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
